  /* @import url('') */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
     font-size: 50px;
     line-height: 64px;
     color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
    
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 40px;

}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color:#fff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    height: 3.125rem;
    border-radius: 10px;

}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2;
}


body {
    width: 100%;
}

/* Header start */

#header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 80px;
     background: #E3E6F3;
     box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
     z-index: 999;
     position: sticky;
     top: 0;
     left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile  {
    display: none;
    align-items: center;
} 

/* Home Page */

#hero {
    background-image: url('img/hero4.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}
#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#feature .fe-box {
    width: 100%;
    text-align: center;
    padding: 25px 50px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d8;
    border-radius: 4px;
    margin: 15px;
}

#feature .fe-box:hover { 
    box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.01);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4d8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}   

#product1 .pro {
    width: 23%; 
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.1)
}

#product1 .pro img {
   width: 100%;
   border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
     width: 40px;
     height: 40px;
     line-height: 40px;
     border-radius: 50px;
     background-color: #e8f6ea;
     color: #088178;
     border: 1px solid #cce7d0;
     position: absolute;
     bottom: 20px;
     right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('img/banner/b2.jpg');
    background-size: cover;
    width: 100%;
    height: 40vh;
    align-items: center;
    
}



#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    
}

#banner h2 span {
    color: #ef3636;
    font-size: 30px;
    padding: 10px 0;
    
}

#banner button:hover {
    background: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 60px 40px 60px;
    
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('img/banner/b17.jpg');
    background-position: center;
    background-size: cover;
    width: 47%;
    height: 50vh;
    padding: 30px;
    
 
}

#sm-banner .banner-box2 {
    background-image: url('img/banner/b10.jpg');
    
 
}

#sm-banner h4 {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}


#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}


#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;

}

#vsm-banner {
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    padding: 0 40px;
    
}


#vsm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url('img/banner/b7.jpg');
    background-size: cover;
    min-width: 30%;
    height: 30vh;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#vsm-banner .banner-box2 {
    background-image: url('img/banner/b4.jpg');
    
}

#vsm-banner .banner-box3 {
    background-image: url('img/banner/b18.jpg');
    
}
 

#vsm-banner h4 {
    color: #fff;
    font-weight: 800;
    font-size: 24px;
}

#vsm-banner h2 {
    color: #ec544e;
    font-weight: 900;
    font-size: 17px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('img/banner/b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    height: 30vh;
}
 
#newsletter h4 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
#newsletter p {
    font-size: 16px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px 0 0 10px;
    outline: none;
}

#newsletter button {
   background-color: #088178;
   color: #fff;
   white-space: nowrap;
   border-radius: 0 10px 10px 0;
   
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
    padding: 15px;

}
 
footer .contact, footer .app {
    margin-bottom: 15px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 16px;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .app .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .app img {
    margin: 10px 0 15px 0;
}

footer .app i:hover,
footer a:hover {
    color: #088178;
}


footer .copyright {
    width: 100%;
    text-align: center;
    
}


#close {
    display: none;
}

/* Shop Page */
#page-header {
     background-image: url('img/banner/b1.jpg');
     width: 100%;
     height: 40vh;
     background-size: cover;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     padding: 14px;
}

#pagination {
    text-align: center;
    padding: 50px;
    
}
#pagination a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #088178;
    font-weight: 600;
}
#pagination a i {
    font-size: 16px;
    font-weight: 600;
}


/* Single Product */
#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails {
    display: flex;
    align-items: center;
}

.single-pro-details {
   margin-bottom: 10px;
}
h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
h4 {
    margin-bottom: 10px;
}
h2{
    margin-bottom: 10px;
}
 select, input {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.row input {
    max-width: 80px;
    margin-right: 10px;
}
.add-btn {
    background-color: #088178;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.row {
    display: flex;
    margin-bottom: 10px;
    
}


/* Blog Page */

#page-header .blog-header {
    background-image: url('img/banner/b19.jpg');
    
    
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
   display: flex;
   align-items: center;
   position: relative;
   padding-bottom: 90px;

}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
    margin-top: 5px;
    
}

#blog img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position:  absolute;
    top: 4px;
    right: -60px;

}

#blog .blog-details a:hover {
   color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
 }

 #blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 80px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
 }




/* Contact Page */


/* Cart Page */



/* Media Query */

@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 80px;
        right: -300px;
        height: 200vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.06);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30px;
    height: 3px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
    #navbar li {
        margin-bottom: 25px;
     }
    #navbar.pop {
        right: 0;
    }
 
 #mobile {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 250px;
 }

 #mobile i {
    cursor: pointer;
    color: #1a1a1a;
    padding-left: 10px;
    font-size: 24px;
 }

 
 #mobile i:hover {
    color: #088178;
    transition: 0.4 ease;
 }

 #close {
    display: none;
    position: absolute;
    font-size: 28px;
    top: 27px;
    right: 242px;
    color: #222;
    cursor: pointer;
 }

 #close i:hover {
   color: #088178
 }
.hide {
    display: flex;
}

 #lg-bag {
    display: none;
}

#header {
    padding: 20px 20px;
    
}
#mobile{
    margin-left: 200px;
}

#hero {
    height: 80vh;
    padding: 0 60px;
    
}

#feature  {
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
}

#feature .fe-box {
    min-width: 200px;
    max-width: 300px;
    width: 23%; 
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    margin-left: 0 20px ;
    transition: 0.2s ease;
    position: relative;

}

#banner {
    height: 32vh;
}

#sm-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sm-banner .banner-box {
    width: 100%;
    height: 40vh;
    margin-bottom: 30px;
}

#vsm-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
#vsm-banner .banner-box {
    text-align: center;
    width: 33%;
    height: 30vh;
    margin-bottom: 20px;
}
#vsm-banner h4 {
    font-size: 20px;
}

#vsm-banner h2 {
    color: #ec544e;
    font-weight: 800;
    font-size: 17px;
}

#newsletter .form {
    width: 60%;
}

footer .col {
    margin-bottom: 5px; 
    padding: 10px;
}

footer h4 {
    font-size: 16px;
    margin-bottom: 14px;
}

footer .align {
    margin: 10px 5px 5px 0px;
   
}

}

@media (max-width: 477px) {
    #header {
        padding: 10px 10px;
    }

    #mobile{
        margin-left: 100px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .col {
        margin-bottom: 24px;
        padding: 10px;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .align {
        margin: 10px 5px 5px 0px;
    }

 /* Single Product  */
 #prodetails {
    display: flex;
    flex-direction: column;
 }



 #prodetails .single-pro-image {
    width: 100%;
    margin-left: 50px;
 }

}


